body{
	margin:0;
	overflow: hidden;
}
.visit{
	position: absolute; 
	margin-top: 32%;
	width:100%;
	color:white;
}
.link{
	color:white;
	text-decoration: none;
}
.contact{
	height:50px;
}
img:hover{
	opacity: 0.5;
}
*:focus {
    outline: none;
}
.special-img-45{
	height: 45px;
}
.special-img-68{
	height: 68px;
	margin-top: -8px;
	margin-left: -10px;
}
.special-img-58{
	height: 58px;
}